/* general */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    color: gainsboro;
    box-sizing: border-box;
    /* border: 1px solid red; */
    line-height: 1.5;
}
body {
    background: rgb(22,0,0);
}
main {
    background: rgb(22,0,0);
    background: linear-gradient(336deg, rgba(22,0,0,1) 0%, rgba(8,0,53,1) 81%, rgba(26,61,68,1) 100%); 
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
    padding: 0.7rem 0;
    margin-top: 2rem;
    color: rgb(235, 235, 235);
}
h3 {
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: underline;
}

p,a {
    font-size: 1.2rem;
}

/* header navigation */

header {
    width: 100%;
    position:fixed;
    top: 0  ;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: rgb(0, 4, 36);
    border-bottom: 1px solid  rgb(10, 17, 17);;
    height: 4rem;
}
nav {
    /* padding: 1.5rem 6rem; */
    width: 80%;
    position:fixed;
    display: flex;
    height: 4rem;
    justify-content: space-between ;

}
@media only screen and (max-width: 900px) {
    nav {
        width: 90%;
    }
    nav span {
        display: none;
    }
}
nav h1 {
    padding: 0.5rem 0;
}
h1 span {
    font-style: italic;
    margin-left: 0.5rem;
}
nav div {
    display: flex;
    align-items: center;
}
nav a {
    color: rgb(142, 153, 255);
    padding: 0.1rem 0.5rem;
}
.clearlink {
    color: gainsboro;
    text-decoration: none;
}

/* sections  */
main {
    position: relative;
    top: 2rem;
}
section {
    width: 80%;
    margin: 0 auto;
}
#aboutme {
    display: grid;
    grid-template-columns: 60% 10rem;
    column-gap: 10%;
}
#aboutme img {
    width: 15rem;
    border: 2px solid  rgb(10, 17, 17);;
    box-shadow: 2px 2px 4px rgb(103, 184, 184);
    /* justify-self: start; */
    /* border: 1px solid blue; */
}
h3:hover{
    color: rgb(90, 52, 196);
    text-decoration: none;
}
.projectInfo {
    /* display: none; */
    position: relative;
    height: 10rem;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;
    width: 75%;
}
.project {
    display: none;
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-bottom: 1.5rem;
    cursor: pointer;
    width: 75%;
}
.projectInfo::before{
    content: "";
    display: block;
    position: absolute;
    /* overflow: hidden; */
    top: 0;
    left: 0;
    /* margin: 0 auto; */
    /* width: 50rem; */
    width: 100%;
    height: 100%;
    background: rgb(0,13,141);
    background: linear-gradient(180deg, rgba(0,13,141,0.19229690167082458) 0%, rgba(0,4,47,1) 100%, rgba(75,75,75,0) 100%); 
    z-index: 1;
}

.projectInfo img  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
}
.project img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
}

section ul li {
    display: inline-block;
    padding-right: 1rem;
    margin: 1rem 0 4rem;
}

/* footer */

footer {
    position:relative;
    margin-top: 1rem;
    height: 4rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 2;
}
footer p {
    margin: 0 auto;
    /* width: 20%; */
}

/* contact me */
.icon {
    width: 4rem;
    margin: 2rem 1.5rem 21rem 0;
}